---
layout: archive
title: ""
permalink: /join/
author_profile: true
---

<h2>Join</h2>
<h3>Research Focus</h3>
<hr class="separator">
<p>
  My lab works at the intersection of
  <strong>Data</strong>,
  <strong>Human</strong>, and
  <strong>AI</strong>.
  My research aims to establish the core foundations of next-generation <strong>AI-driven data analysis and visualization systems</strong> 
  capable of automatically analyzing large-scale, high-dimensional, and in situ data with enhanced <strong>expressivity</strong>, <strong>explainability</strong>, 
  and <strong>scalability</strong>, empowering AI for Science through accelerated scientific discovery and innovation across specialized and interdisciplinary domains. 
  Current Key research areas include:
</p>
<ul>
  <li> Neural Rendering through View Synthesis</li>
  <li> Agentic AI for Autonomous Scientific Discovery </li>
  <li> AI-Friendly Data Representation </li>
</ul>
<h3>How to Join the Lab</h3>
<hr class="separator">
<h3>Prospective Ph.D. Students</h3>
<p>Successful candidates will receive a full Research Assistant scholarship. Whether you are already at UC or applying from outside, please email me at sunjx@ucmail.uc.edu with the following:</p>
<ul>
  <li> Email subject: "Prospective PhD Student" </li>
  <li> Your CV and transcripts. </li>
  <li> Your thoughts or questions about our research or Lab papers. </li>
</ul>
<h3>Research Opportunities for Current Students</h3>
<p>I’m always looking for self-motivated undergraduate and master's students interested in research opportunities. Please email me at sunjx@ucmail.uc.edu with the following:</p>
<ul>
  <li> Email subject: "Research Assistant Opportunity" </li>
  <li> Your CV, transcripts. </li>
  <li> A paragraph on your interests. </li>
</ul>

<!-- {% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %} -->

