---
layout: archive
title: ""
permalink: /join/
author_profile: true
---

<h2>Join</h2>
<h3>Research Focus</h3>
<hr class="separator">
<p>
  My lab works at the intersection of
  <strong>Data</strong>,
  <strong>Human</strong>, and
  <strong>AI</strong>.
  My research aims to establish the core foundations of next-generation AI-driven scientific data analysis and visualization systems 
  capable of automatically analyzing large-scale, high-dimensional, and in situ scientific data with enhanced expressivity, explainability, 
  and scalability, empowering AI for Science through accelerated scientific discovery and innovation across specialized and interdisciplinary domains. 
  Key research areas include:
</p>
<ul>
  <li> Neural Rendering through View Synthesis</li>
  <li> Agentic AI for Autonomous Scientific Discovery </li>
  <li> AI-Frendly Data Representation </li>
</ul>
<h3>How to Joint the Lab</h3>
<hr class="separator">
<h3>For Graduate Students</h3>
<p>Successful candidates will receive a full Research Assistant scholarship. Whether you are already at UC or applying from outside, please email me at sunjianxin66@gmail.com with the following:</p>
<ul>
  <li> Your CV and transcripts.</li>
  <li> Your thoughts and questions after reading one of our Lab papers.</li>
</ul>
<h3>For Undergraduate Students</h3>
<p>I’m always looking for self-motivated undergraduate students interested in research opportunities. Please email me at sunjianxin66@gmail.com with the following:</p>
<ul>
  <li> Your CV, transcripts, and a paragraph on your interests</li>
</ul>

<!-- {% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %} -->

