---
layout: archive
title: ""
permalink: /join/
author_profile: true
---

<h2>Join</h2>
<h3>Research Focus</h3>
<hr class="separator">
<p>
  My lab works at the intersection of
  <strong>Data</strong>,
  <strong>Human</strong>, and
  <strong>AI</strong>.
  My research aims to establish the core foundations of next-generation AI-driven scientific data analysis and visualization systems 
  capable of automatically analyzing large-scale, high-dimensional, and in situ scientific data with enhanced expressivity, explainability, 
  and scalability, empowering AI for Science through accelerated scientific discovery and innovation across specialized and interdisciplinary domains. 
  Key research areas include:
</p>
<ul>
  <li> Neural Rendering through View Synthesis</li>
  <li> Agentic AI for Autonomous Scientific Discovery </li>
  <li> AI-Frendly Data Representation </li>
</ul>
<h3>How to Joint the Lab</h3>
<hr class="separator">
<h4>For Graduate Students</h4>
<p>Successful candidates will receive a full Research Assistant scholarship</p>
<ul>
  <li> Please email me with your CV and transcripts</li>
</ul>
<h4>For Undergraduate Students</h4>
<p>I’m always looking for self-motivated undergraduate students interested in research opportunities.</p>
<ul>
  <li> Please email me with your CV and transcripts</li>
</ul>

<!-- {% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %} -->

