---
layout: archive
title: ""
permalink: /portfolio/
author_profile: true
---

<h2>Academic Service</h2>
<h3>Conference Program Committees</h3>
<ul>
  <li><strong>[VIS]</strong> IEEE Visualization Conference (VIS), Full Papers (2025) and Short Papers (2025)
  </li>
</ul>
<h3>Journal Reviewers</h3>
<ul>
  <li><strong>[TVCG]</strong> Transactions on Visualization and Computer Graphics, IEEE, since 2020</li>
  <li><strong>[BigData]</strong> Big Data Research, IEEE, since 2019</li>
</ul>
<h3>Conference External Reviewers</h3>
<ul>
  <li><strong>[VIS]</strong> IEEE Visualization Conference, Full Papers (2021, 2022, 2023, 2024, 2025)</li>
  <li><strong>[EuroVis]</strong> Eurographics/IEEE-VGTC Symposium on Visualization (2023)</li>
  <li><strong>[BigData]</strong> IEEE International Conference on Big Data (2021, 2022)</li>
  <li><strong>[SSDBM]</strong> International Conference on Scientific and Statistical Database Management (2021)</li>
</ul>
<h3>Outreach</h3>
<ul>
  <li>Omaha Millard West High School STEM Event (2025)</li>
  <li>Hour of Code & Tech Fair event at Nebraska Innovation Campus (2019/2022/2023/2024)</li>
  <li>Girls Code Lincoln visiting the visualization lab with hands-on activities (2023)</li>
  <li>The third annual Introduce a Girl to Engineering day (2020)</li>
</ul>


<!-- {% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %} -->

